{% extends 'store/base.html' %}


{% block content %}
    <h2 class="text-center">Présentation de l'album</h2>

    <div class='col-md-6 img-album'>
      <img class="img-responsive" src="{{album.picture}}"/>
    </div>
    <div clss="col-md-6 infos-album">
      <p>
        Nom de l'album : <span class="nom_album">{{album.title}}</span>
      </p>
      <p>
        Artistes : <span> {{ artists }}</span>
      </p>

      <p>
        Disponible : <span>{{album.available}}</span>
      </p>


    </div>





{% endblock %}
